body, html {
    height: 100%;
    font-family: monospace;
    font-size: 18px;
    color: #EEEEEE;
}

body {
    background: rgb(53, 40, 94, 1);
    background: -moz-radial-gradient(
            center,
            ellipse cover,
            rgb(53, 40, 94, 1) 0%,
            rgba(14, 13, 16, 1) 100%
    );
    background: -webkit-gradient(
            radial,
            center center,
            0px,
            center center,
            100%,
            color-stop(0%, rgb(53, 40, 94, 1)),
            color-stop(100%, rgba(14, 13, 16, 1))
    );
    background: -webkit-radial-gradient(
            center,
            ellipse cover,
            rgb(53, 40, 94, 1) 0%,
            rgba(14, 13, 16, 1) 100%
    );
    background: -o-radial-gradient(
            center,
            ellipse cover,
            rgb(53, 40, 94, 1) 0%,
            rgba(14, 13, 16, 1) 100%
    );
    background: -ms-radial-gradient(
            center,
            ellipse cover,
            rgb(53, 40, 94, 1) 0%,
            rgba(14, 13, 16, 1) 100%
    );
    background: radial-gradient(
            ellipse at center,
            rgb(53, 40, 94, 1) 0%,
            rgba(14, 13, 16, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#203de3', endColorstr='#0a2645', GradientType=1 );
}

.content {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-top {
    align-items: flex-start;
    margin-top: 4rem;
}

.data-box {
    border: #242424 3px solid;
    border-radius: 20px;
    height: fit-content;
    width: 50%;
    background-color: #151418;
    margin-bottom: 2rem;
}

.data-box {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
}

.centered-text {
    text-align: center;
}

.annotation {
    font-style: italic;
}

.buttons-box {
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 3rem;
}

.flex-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.case-button {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    background-color: #4564CC;
    border: none;
    color: #EEEEEE;
    border-radius: 7px;
    width: 100%;
}

.case-button:hover {
    background-color: #3859C7;
}

.case-button:active {
    background-color: #2F4AA6;
}

.clean-button {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    background-color: orange;
    border: none;
    color: dimgrey;
    border-radius: 7px;
    width: 100%;
}

.clean-button:hover {
    background-color: darkorange;
}

.clean-button:active {
    background-color: orangered;
}


.text-box {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centered {
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.huge-box {
    width: 75%;
    height: fit-content;
    padding-left: 3rem;
    padding-right: 3rem;
}

.tall-box {
    width: 35%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}

.centered-table-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centered-table-box p {
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

.edit-button {
    border: none;
    font-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
}

hr {
    border: 1px grey solid;
    border-radius: 50%;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100%;
}

.centered-form {
    width: 85%;
}

input, select, option {
    background-color: transparent;
    height: 3rem;
    font-size: 1.1rem;
    border: 1px grey solid;
    border-radius: 10px;
    margin-bottom: 1rem;
    width: 100%;
    color: white;
    padding: 8px
}

.labels-box {
    font-size: 0.8rem;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error {
    margin: 0;
    padding: 0;
    color: red;
}

label {
    margin: 0;
    padding: 0;
}