body {
    margin: 0;
}

header {
    margin-top: 1rem;
    color: #FFFFFF;
    font-size: 1.3rem;
    height: 4rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 15px;
    border-bottom: 2px solid grey;
}

nav a:hover {
    background-color: #1E1E1E;
}